/* adding a style */
body {
  box-sizing: border-box;
  line-height: 1.5;
}
#logo {
  max-width: 720px;
  max-height: 400px;
}

.title {
  text-align : center;
  margin-bottom: 30px;
}

.q4 {
  width: 100px;
  height: 100px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.num {
  font-size: 20px;
}

#counts {
  margin-bottom: 20px;
}